agendaWeb/src/conf/xml-resources/web-service-references/ContactosService/wsdl/localhost_8080/ServicioCRUD/ContactosService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="ContactosService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/ServicioCRUD/ContactosService?xsd=1"/>
</xsd:schema>
</types>
<message name="actualizarContacto">
<part name="parameters" element="tns:actualizarContacto"/>
</message>
<message name="actualizarContactoResponse">
<part name="parameters" element="tns:actualizarContactoResponse"/>
</message>
<message name="eliminarContacto">
<part name="parameters" element="tns:eliminarContacto"/>
</message>
<message name="eliminarContactoResponse">
<part name="parameters" element="tns:eliminarContactoResponse"/>
</message>
<message name="listarContactoID">
<part name="parameters" element="tns:listarContactoID"/>
</message>
<message name="listarContactoIDResponse">
<part name="parameters" element="tns:listarContactoIDResponse"/>
</message>
<message name="listarContactos">
<part name="parameters" element="tns:listarContactos"/>
</message>
<message name="listarContactosResponse">
<part name="parameters" element="tns:listarContactosResponse"/>
</message>
<message name="agregarContacto">
<part name="parameters" element="tns:agregarContacto"/>
</message>
<message name="agregarContactoResponse">
<part name="parameters" element="tns:agregarContactoResponse"/>
</message>
<portType name="ContactosService">
<operation name="actualizarContacto">
<input wsam:Action="http://Servicios/ContactosService/actualizarContactoRequest" message="tns:actualizarContacto"/>
<output wsam:Action="http://Servicios/ContactosService/actualizarContactoResponse" message="tns:actualizarContactoResponse"/>
</operation>
<operation name="eliminarContacto">
<input wsam:Action="http://Servicios/ContactosService/eliminarContactoRequest" message="tns:eliminarContacto"/>
<output wsam:Action="http://Servicios/ContactosService/eliminarContactoResponse" message="tns:eliminarContactoResponse"/>
</operation>
<operation name="listarContactoID">
<input wsam:Action="http://Servicios/ContactosService/listarContactoIDRequest" message="tns:listarContactoID"/>
<output wsam:Action="http://Servicios/ContactosService/listarContactoIDResponse" message="tns:listarContactoIDResponse"/>
</operation>
<operation name="listarContactos">
<input wsam:Action="http://Servicios/ContactosService/listarContactosRequest" message="tns:listarContactos"/>
<output wsam:Action="http://Servicios/ContactosService/listarContactosResponse" message="tns:listarContactosResponse"/>
</operation>
<operation name="agregarContacto">
<input wsam:Action="http://Servicios/ContactosService/agregarContactoRequest" message="tns:agregarContacto"/>
<output wsam:Action="http://Servicios/ContactosService/agregarContactoResponse" message="tns:agregarContactoResponse"/>
</operation>
</portType>
<binding name="ContactosServicePortBinding" type="tns:ContactosService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="actualizarContacto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarContacto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarContactoID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarContactos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarContacto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ContactosService">
<port name="ContactosServicePort" binding="tns:ContactosServicePortBinding">
<soap:address location="http://localhost:8080/ServicioCRUD/ContactosService"/>
</port>
</service>
</definitions>