agendaWeb/web/WEB-INF/wsdl/localhost_8080/ServicioCRUD/UsuariosService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="UsuariosService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/ServicioCRUD/UsuariosService?xsd=1"/>
</xsd:schema>
</types>
<message name="listarID">
<part name="parameters" element="tns:listarID"/>
</message>
<message name="listarIDResponse">
<part name="parameters" element="tns:listarIDResponse"/>
</message>
<message name="logIn">
<part name="parameters" element="tns:logIn"/>
</message>
<message name="logInResponse">
<part name="parameters" element="tns:logInResponse"/>
</message>
<message name="eliminarUsuario">
<part name="parameters" element="tns:eliminarUsuario"/>
</message>
<message name="eliminarUsuarioResponse">
<part name="parameters" element="tns:eliminarUsuarioResponse"/>
</message>
<message name="actualizar">
<part name="parameters" element="tns:actualizar"/>
</message>
<message name="actualizarResponse">
<part name="parameters" element="tns:actualizarResponse"/>
</message>
<message name="listarUsuarios">
<part name="parameters" element="tns:listarUsuarios"/>
</message>
<message name="listarUsuariosResponse">
<part name="parameters" element="tns:listarUsuariosResponse"/>
</message>
<message name="agregarUsuario">
<part name="parameters" element="tns:agregarUsuario"/>
</message>
<message name="agregarUsuarioResponse">
<part name="parameters" element="tns:agregarUsuarioResponse"/>
</message>
<portType name="UsuariosService">
<operation name="listarID">
<input wsam:Action="http://Servicios/UsuariosService/listarIDRequest" message="tns:listarID"/>
<output wsam:Action="http://Servicios/UsuariosService/listarIDResponse" message="tns:listarIDResponse"/>
</operation>
<operation name="logIn">
<input wsam:Action="http://Servicios/UsuariosService/logInRequest" message="tns:logIn"/>
<output wsam:Action="http://Servicios/UsuariosService/logInResponse" message="tns:logInResponse"/>
</operation>
<operation name="eliminarUsuario">
<input wsam:Action="http://Servicios/UsuariosService/eliminarUsuarioRequest" message="tns:eliminarUsuario"/>
<output wsam:Action="http://Servicios/UsuariosService/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse"/>
</operation>
<operation name="actualizar">
<input wsam:Action="http://Servicios/UsuariosService/actualizarRequest" message="tns:actualizar"/>
<output wsam:Action="http://Servicios/UsuariosService/actualizarResponse" message="tns:actualizarResponse"/>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://Servicios/UsuariosService/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://Servicios/UsuariosService/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
</operation>
<operation name="agregarUsuario">
<input wsam:Action="http://Servicios/UsuariosService/agregarUsuarioRequest" message="tns:agregarUsuario"/>
<output wsam:Action="http://Servicios/UsuariosService/agregarUsuarioResponse" message="tns:agregarUsuarioResponse"/>
</operation>
</portType>
<binding name="UsuariosServicePortBinding" type="tns:UsuariosService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsuariosService">
<port name="UsuariosServicePort" binding="tns:UsuariosServicePortBinding">
<soap:address location="http://localhost:8080/ServicioCRUD/UsuariosService"/>
</port>
</service>
</definitions>